/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/gwas Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LDAK HE and PCGC heritability route test options
----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '8.GB', time: '1.h']
}

params {
    // Config options
    config_profile_name        = 'LDAK HE and PCGC heritability test profile'
    config_profile_description = 'LDAK estimator fan-out with conditional matrix adjustment'
}

includeConfig 'route_profile_resolver.config'
