/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for the dedicated REGENIE route test
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Use as follows:
        nextflow run nf-core/gwas -profile test_regenie,docker --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [cpus: 4, memory: '8.GB', time: '1.h']
}

params {
    config_profile_name        = 'REGENIE test profile'
    config_profile_description = 'Fixture-backed REGENIE association route'
    input                      = "${projectDir}/assets/samplesheet_regenie.csv"
}
